<nav class="navbar-custom">
  <div class="navbar-container">
    <a class="navbar-brand-custom" href="#">CodeBlogs</a>
    <ul class="navbar-links">
      <li><a class="nav-link-custom" [routerLink]="'/home'">Home</a></li>
      <li><a class="nav-link-custom" [routerLink]="'/list-categories'">Categories</a></li>
      <li><a class="nav-link-custom" [routerLink]="'/blogs-list'">Blogs</a></li>
      <li><a class="nav-link-custom" [routerLink]="'/register'">SignUp</a></li>
    </ul>
  </div>
</nav>