<div class="home-sections">
  <!-- Categories Section -->
  <section class="categories-section">
    <h2>Categories</h2>
    <div class="categories-list">
      <div class="category-card" >
       NailPaints
      </div>
      <div class="category-card" >
       Lotion
      </div>
    </div>
  </section>

  <!-- Blogs Section -->
  <section class="blogs-section">
    <h2>Blogs</h2>
    <div class="blogs-list">
      <div class="blog-card" >
        <h3>NailPaints Blog</h3>
        <p class="category">Cosmetics</p>
        <p class="description">Casual Use</p>
        <button class="read-more-btn">Read More</button>
      </div>
    </div>
  </section>
</div>
